

/* Global font setup */
form, input, textarea, label, button {
    font-family: Arial, sans-serif,'Times New Roman';
    font-size: 14px;
	
}

/* Center the form also adjust the width */
form {
    width:30%;
    margin: 24px auto;
    border: 2px solid black;
    padding: 20px;
	background-color:lightgrey;
}


/* Header style */
h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
	font-family:'Times New Roman', Arial, sans-serif;
}

/* Label formatting */
label {
    margin-bottom: 6px;
	display:block;  /*by default it is inline which means label will be shown in new line*/
    color:black;
}

/* Text fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 14px;
    border: 1px solid red;
    font-size: 10px;
}

/* styling the checkbox, radio  */
input[type="checkbox"], input[type="radio"]{
	margin-right:5px;
	margin-bottom:20px;
	
}



/*styling for valid/invalid form*/
.valid{
	background-color:green;
}

.invalid{
	background-color:red;
}